@import "./colors"; // Colors

$break-small: 768px;
$break-large: 1200px;

:root{
  // font-size: 10px;
}

html{
  background-color: white;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* Header */
#header{
  background-color: $teal-300;
  // padding: 40px 20px;
  border-bottom: 1px solid $grey-800;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $break-small) {
    height: 80px;
  }
  @media screen and (min-width: $break-large) {
    height: 100px;
  }

  h1{
    font-size: 1.4rem;
    margin: 0;

    @media screen and (min-width: $break-small) {
      font-size: 2.0rem;
    }
    @media screen and (min-width: $break-large) {
      font-size: 2.4rem;
    }
  }
}

/* Home */
.home{
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 30px 0;
  background-color: $blue-grey-50;

  @media screen and (min-width: $break-small) {
    top: 80px;
    height: calc(100% - 80px);
  }
  @media screen and (min-width: $break-large) {
    top: 100px;
    height: calc(100% - 100px);
  }
}

.classes-dorpdown{
  display: flex;
  justify-content: center;
  
}

/* Grid */
.grid{
  width: 90vw;
  margin: auto;
  overflow: auto;

  .top-panel{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;

    .search{
      max-width: 250px;
      margin-right: 10px;
    }
  }

  table{
    background-color: $grey-100;

    .row-hover:hover{
      background-color: $yellow-50 !important;
    }

    .edit{
      cursor: pointer;

      &:hover{
        color: $blue-500;
      }
    }

    .hide-column{
      @media screen and (max-width: 400px) {
        display: none;
      }
    }
  }

  .arrow{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 2px;
    opacity: 0.66;
  
    &.asc{
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $grey-800;
    }
    
    
    &.dsc{
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $grey-800;
    }
  }
}
