<template>
  <div class="home">
    <classes-dropdown @classSelected="updateSelectedClass"/>

    <students-list
      :classId="selectedClassId">
    </students-list>
    <reset />
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  import ClassesDropdown from '@/components/ClassesDropdown.vue'
  import StudentsList from '@/components/StudentsList.vue'
  import Reset from '@/components/Reset.vue'

  export default {
    name: 'home',
    components: {
      'classes-dropdown': ClassesDropdown,
      'students-list': StudentsList,
      'reset': Reset,
    },
    data () {
      return {
        selectedClassId: -1
      }
    },
    created () {
    },
    methods: {
      updateSelectedClass (id) {
        this.selectedClassId = id
      }
    }
  }
</script>
