<template>
  <div class="classes-dorpdown">
    <b-dropdown id="ddown1" :text="dropdownTitle" class="m-md-2">
      <b-dropdown-item 
        v-for="cls in classes"
        @click="classSelected(cls)">
        {{cls.name}}
      </b-dropdown-item>
    </b-dropdown>
    <spinner v-if="fetchingData"></spinner>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapActions } from 'vuex'
  import Spinner from 'vue-simple-spinner'

  export default {
    name: 'ClassesDropdown',
    props: {

    },
    components: {
      'spinner': Spinner
    },
    data () {
      return {
        dropdownTitle: ''
      }
    },
    created () {
      this.initClassesDropdown()
    },
    methods: {
      ...mapActions([ 
        'getClassesData'
      ]),
      ...mapMutations([
        'SET_selectedClass'
      ]),
      initClassesDropdown () {
        this.setDropdownTitle()
        /* Get classes list only in the first time visit */
        if (this.classes.length === 0) {
          this.getClassesData()
        }
      },
      setDropdownTitle () {
        this.dropdownTitle = this.selectedClass === '' ? 'Select a class' : this.classes[this.selectedClass - 1].name
      },
      classSelected(cls) {
        this.dropdownTitle = cls.name 
        this.$emit('classSelected', cls.id)
        this.SET_selectedClass(cls.id)
      }
    },
    computed: {
      ...mapState([
        'classes',
        'selectedClass',
        'fetchingData'
      ])
    }
  }
</script>
