<template>
  <div class="edit-student-form">
      <b-form @submit="onSubmit" @reset="onReset">
        <!-- First name -->
        <b-form-group
          label="First name:"
          label-for="firstName">
          <b-form-input id="firstName"
            type="text"
            v-model="student['first_name']"
            required
            placeholder="Enter first name">
          </b-form-input>
        </b-form-group>

        <!-- Last name -->
        <b-form-group
          label="Last name:"
          label-for="lastName">
          <b-form-input id="lastName"
            type="text"
            v-model="student['last_name']"
            required
            placeholder="Enter last name">
          </b-form-input>
        </b-form-group>

        <!-- User name -->
        <b-form-group
          label="Username:"
          label-for="username">
          <b-form-input id="username"
            type="text"
            v-model="student['username']"
            required
            placeholder="Enter username">
          </b-form-input>
        </b-form-group>

        <!-- Age -->
        <b-form-group
          label="Age:"
          label-for="age">
          <b-form-input id="age"
            type="text"
            v-model="student['age']"
            required
            placeholder="Enter age">
          </b-form-input>
        </b-form-group>

      <b-button type="submit" variant="primary">Save</b-button>
      <b-button type="reset" variant="danger">Cancel</b-button>
     </b-form>
  </div>
</template>

<script>
  export default {
    name: 'EditStudentForm',
    props: {
      student: {
        type: Object,
        required: true
      }
    },
    components: {
    },
    data () {
      return {
      }
    },
    created () {

    },
    methods: {
      onSubmit (evt) {
        evt.preventDefault()
        this.$emit('editStudentDone', this.student)
        this.hideModal()
      },
      onReset (evt) {
        evt.preventDefault()
        this.hideModal()
      },
      hideModal() {
        this.$root.$emit('bv::hide::modal','editStudentModal')
      }
    }
  }
</script>
