<template>
  <b-button @click="askForData" size="sm" variant="success">
    Export <i class="far fa-file-excel"></i>
  </b-button>
</template>

<script>
  export default {
    name: 'ExportCsv',
    props: {
      data: {
        type: Array,
        required: true
      }
    },
    data () {
      return {
      }
    },
    created () {
    },
    methods: {
      askForData () {
        this.$emit('exportClicked')
      },
      convertArrayOfObjectsToCSV (args) {  
        let result, ctr, keys, columnDelimiter, lineDelimiter, data

        data = args.data || null
        if (data == null || !data.length) {
            return null
        }

        columnDelimiter = args.columnDelimiter || ','
        lineDelimiter = args.lineDelimiter || '\n'

        keys = Object.keys(data[0])

        result = ''
        result += keys.join(columnDelimiter)
        result += lineDelimiter

        data.forEach(function(item) {
            ctr = 0
            keys.forEach(function(key) {
                if (ctr > 0) result += columnDelimiter

                result += item[key]
                ctr++
            })
            result += lineDelimiter
        })

        return result
      },
      downloadCSV (args) {  
        var data, filename, link
        var csv = this.convertArrayOfObjectsToCSV({
            data: this.data
        })
        if (csv == null) return

        filename = args.filename || 'export.csv'

        if (!csv.match(/^data:text\/csv/i)) {
            csv = 'data:text/csvcharset=utf-8,' + csv
        }
        data = encodeURI(csv)

        link = document.createElement('a')
        link.setAttribute('href', data)
        link.setAttribute('download', filename)
        link.click()
      }
    },
    watch: {
      data: {
        handler: function () {
          this.downloadCSV({ filename: 'student-list.csv' })
        },
        deep: true
      }
    }
  }
</script>
