<template>
  <div class="grid">
    <div class="top-panel">
      <b-input-group size="sm" prepend="Search" class="search">
        <b-form-input name="query" v-model="searchInputValue"></b-form-input>
      </b-input-group>
      <!-- <form class="search">
        Search <input name="query" v-model="searchInputValue">
      </form> -->
      <export-csv
        @exportClicked="getDataForExport"
        :data="dataToExport">
      </export-csv>
    </div>
    <!-- Table -->
    <table class="table table-striped table-grid table-bordered table-sm" :class="{'clickable': isClickable}">
      <thead class=" thead-dark">
        <tr>
          <th 
            v-for="col in columns" 
            :key="col.name" 
            @click="sortBy(col.name)" 
            :class="[{ active: sortKey == col.name }, {'hide-column': col.name === 'username'}]">
            {{ col.label }}<span class="arrow" :class="sortOrders[col.name] > 0 ? 'asc' : 'dsc'"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr 
          v-for="entry in filteredData" 
          class="row-hover"
          v-b-popover.hover.bottom.html="popoverMethod(entry)" title="Student full record info">
          <td v-for="col in columns" :class="{'hide-column': col.name === 'username'}">
            {{ display(entry, col) }}
            <span v-if="col.name === 'edit'" @click="openEditModal(entry)" class="edit"><i class="fas fa-pencil-alt"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  /**
   * Grid - table component with sortable columns
   * columns - the table columns including name, label, and type (date, array, or none for string default)
   * filterKey - internal use for filtering the table
   */

  import ExportCsv from './ExportCsv.vue'

  export default {
    name: 'Grid',
    props: {
      columns: {
        type: Array,
        required: true
      },
      data: {
        type: Array,
        required: true
      },
      filterKey: {
        type: String,
        required: false
      }
    },
    components: {
      'export-csv': ExportCsv
    },
    data () {
      var sortOrders = {}
      this.columns.forEach(function (key) {
        sortOrders[key.name] = 1
      })
      return {
        isClickable: this.nextKey !== '' && this.nextPath !== '',
        sortKey: '',
        sortOrders: sortOrders,
        searchInputValue: this.filterKey && this.filterKey.toLowerCase(),
        dataToExport: []
      }
    },
    created () {
    },
    methods: {
      display (entry, col) {
        return entry[col.name]
      },
      sortBy (key) {
        this.sortKey = key
        this.sortOrders[key] = this.sortOrders[key] * -1
      },
      popoverMethod (entry) {
        return `<ul>
                  <li>ID: ${entry.id}</li>
                  <li>First name: ${entry.first_name}</li>
                  <li>Last name: ${entry.last_name}</li>
                  <li>Username: ${entry.username}</li>
                  <li>Age: ${entry.age}</li>
                </ul>`
      },
      openEditModal (entry) {
        // console.log('emit showEditModal with entry: ', entry)
        this.$emit('showEditModal', entry)
      },
      getDataForExport () {
        // Setting the data (filterd data) to Export
        this.dataToExport = this.filteredData
      }
    },
    computed: {
      filteredData () {
        var sortKey = this.sortKey
        var filterKey = this.searchInputValue && this.searchInputValue.toLowerCase()
        var order = this.sortOrders[sortKey] || 1
        var data = this.data
        if (filterKey) {
          data = data.filter(function (row) {
            return Object.keys(row).some(function (key) {
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1
            })
          })
        }
        if (sortKey) {
          data = data.slice().sort(function (a, b) {
            a = a[sortKey]
            b = b[sortKey]
            return (a === b ? 0 : a > b ? 1 : -1) * order
          })
        }
        //return data
        return data
      }
    }
  }
</script>
