<template>
  <b-button @click="reset" size="sm" variant="danger">
    Reset
  </b-button>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'Reset',
    props: {

    },
    data () {
      return {
      }
    },
    created () {
    },
    methods: {
      ...mapMutations([ 
        'SET_classes',
        'RESET_studentsDictionary',
        'SET_selectedClass',
        'RESET_studentsInClass',
        'RESET_fetchingData'
      ]),
      reset () {
        // this.SET_classes([])
        this.RESET_studentsDictionary()
        this.RESET_studentsInClass()
        this.SET_selectedClass('')
        this.RESET_fetchingData()
        location.reload()
      }
    }
  }
</script>
