<template>
  <div class="students-list">
    <grid
      v-if="classId !== -1 || selectedClass !== ''"
      :columns="tableColumns"
      :data="tableData"
      :filterKey="searchQuery"
      @showEditModal="openModal">
    </grid>

    <b-modal id="editStudentModal" ref="editStudentModal" title="Bootstrap-Vue" hide-footer>
      <edit-student-form
        :student="studentDataToEdit"
        @editStudentDone="updateStudentData">
      </edit-student-form>
    </b-modal>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapActions } from 'vuex'
  import Grid from './Grid.vue'
  import EditStudentForm from './EditStudentForm.vue'


  export default {
    name: 'StudentsList',
    props: {
      classId: {
        type: Number,
        required: true
      }
    },
    components: {
      'grid': Grid,
      'edit-student-form': EditStudentForm
    },
    data () {
      return {
        tableColumns: [
          {
            label: 'First Name',
            name: 'first_name'
          },
          {
            label: 'Last Name',
            name: 'last_name'
          },
          {
            label: 'Username',
            name: 'username'
          },
          {
            label: 'Age',
            name: 'age'
          },
          {
            label: 'Edit',
            name: 'edit'
          }
        ],
        tableData: [],
        searchQuery: '',
        studentDataToEdit: {}
      }
    },
    created () {
      this.initStudentList()
    },
    methods: {
      ...mapActions([ 
        'getStudentsListByClassId'
      ]),
      ...mapMutations([
        'UPDATE_studentsDictionary'
      ]),
      initStudentList () {
        if (this.selectedClass in this.studentsInClass) {
          this.getRelevantStudents()
        }
      },
      getRelevantStudents () {
        /* Get only students relevant to the selected class */
        let filteredStudents = []
        let id = this.classId !== -1 ? this.classId : this.selectedClass

        let studentsArr = this.studentsInClass[id]
        studentsArr.forEach((student) => {
          filteredStudents.push(this.studentsDictionary[student.id])
        })
        // console.log('filteredStudents: ', filteredStudents)
        this.tableData = filteredStudents
      },
      openModal (student) {
        // console.log('student: ', student)
        this.studentDataToEdit = {...student} // Deep copy in order to not affect the real 'student' object
        this.$refs.editStudentModal.show()
      },
      updateStudentData (updatedStudent) {
        // console.log('updatedStudent: ', updatedStudent)
        this.UPDATE_studentsDictionary(updatedStudent)
        this.getRelevantStudents()
      }
    },
    computed: {
      ...mapState([
        'studentsInClass',
        'studentsDictionary',
        'selectedClass'
      ])
    },
    watch: {
      classId () {
        if (this.classId in this.studentsInClass) {
          this.getRelevantStudents()
        } else {
          this.getStudentsListByClassId(this.classId).then(() => {
            this.getRelevantStudents()
          })
        }
      }
    }
  }
</script>
